.modal-container {
  width: 50%;
  box-shadow: 5px 5px 5px gray;
  text-align: center;
  position: relative;

  .x {
    position: absolute;
    right: 20px;
    top: 3%;
    font-weight: bold;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }

  .header {
    height: 33%;
    line-height: 150px;
    background-color: green;
    color: white;

    h1 {
      margin: 0;
    }
  }

  .modal-body {
    height: 33%;
    background-color: white;
    line-height: 150px;
  }

  .footer {
    height: 33%;
    line-height: 150px;
    background-color: green;
    color: white;
  }
}
